<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897701119369-ek6diiacvvu3l4flkid35uo9an6fnj3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897701119369-ek6diiacvvu3l4flkid35uo9an6fnj3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDDYfqGNAv0nHE-6E8L-qUwvZVvRzZ41OI</string>
	<key>GCM_SENDER_ID</key>
	<string>897701119369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damoonsaber.TrueCam</string>
	<key>PROJECT_ID</key>
	<string>truecam-12c26</string>
	<key>STORAGE_BUCKET</key>
	<string>truecam-12c26.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897701119369:ios:7a2e517186fdcd20b44d58</string>
</dict>
</plist>